.heading1, .heading2 {
    color: skyblue;
}
.heading2, .subheading2 {
    min-width: 15% !important;
    max-width: 15% !important;
    text-align: center;
}
.save-user-permissions-settings {
    --background: white;
    color: darkgrey;
    font-weight: 600;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 20%;
    display: block;
}