.certificate-config {
    color: darkred;
    border: 1px solid darkred;
    --background: white;
    border-radius: 5px;
    height: 35px;
}

.heading {
    color: skyblue;
    font-weight: 700;
}
  