<ion-header>
  <ion-toolbar>
    <ion-title style="color: skyblue; font-size: 30px;">Status Overview</ion-title>
    <div style="width: 25%; margin: auto; margin-bottom: 30px;">
      <p style="text-align: center; color: darkgrey;">VPN services are currently ON</p>
      <ion-button class = "button button-block stop-services">
        <ion-icon style="height: 48%; padding-right: 2px;" name="power-outline"></ion-icon>
        Stop VPN Services
     </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table>
    <tr>
      <th style="color: skyblue; font-size: 22px;">
        Active Configuration
      </th>
    </tr>
    <tr>
      <td>Access Server Version:</td>
      <td>2.10.1</td>
    </tr>
    <tr>
      <td>Server Name:</td>
      <td>192.168.10.168</td>
    </tr>
    <tr>
      <td>Allowed VPN Connections:</td>
      <td style="color: #ed7f22;">2 VPN Connections</td>
    </tr>
    <tr>
      <td>Current Active Users:</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Port for VPN Client Connections:</td>
      <td>tcp/443, udp/1194</td>
    </tr>
  </table>
</ion-content>
